<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Посты</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        h2 { margin-bottom: 5px; }
        p { margin: 5px 0 15px; }
        ul { list-style: none; padding: 0; }
        li { border-bottom: 1px solid #ccc; padding: 15px 0; }
        a { color: #007BFF; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>Список постов</h1>

    <h2>Категории:</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'posts_by_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Посты</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail_no_category' post.pk %}">{{ post.title }}</a>
                <p>{{ post.content|truncatewords:30 }}</p>
                <small>Дата создания: {{ post.created_at }}</small>
            </li>
        {% endfor %}
    </ul>

    <a href="/">На главную</a>
</body>
</html>
